
.main-menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.main-menu-container {
  max-width: 850px;
}

.menu-card {
  background-color: rgb(237, 233, 233);
  color: #000000 !important;
  border: none !important;
}

.admin-link {
  color: #1825d9;
  font-size: 0.9rem;
}

@media (max-width: 676px) {
  .main-menu-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.mb-5 {
  margin: 1rem !important;
}

.text-light {
  color: #494949 !important;
}