body{
  min-height: 100vh;
  background-color:#99ffa8;
  background-image:
  radial-gradient(at 97% 86%, hsla(279,67%,78%,1) 0px, transparent 50%),
  radial-gradient(at 20% 29%, hsla(323,92%,78%,1) 0px, transparent 50%),
  radial-gradient(at 17% 45%, hsla(13,71%,70%,1) 0px, transparent 50%),
  radial-gradient(at 91% 67%, hsla(244,83%,66%,1) 0px, transparent 50%),
  radial-gradient(at 9% 72%, hsla(253,93%,70%,1) 0px, transparent 50%),
  radial-gradient(at 91% 39%, hsla(38,79%,78%,1) 0px, transparent 50%);
}

.matchthesis-logo {
  position: fixed;
  top: 20px;
  left: 32px;
  width: 250px;
  height: auto;
}